main, h1{ padding: 1em;}

html{
  background-color: lightgray;
}

h1 {
  color: orangered;
}

header ul {
  list-style-type: none;
}

img{
  height: 10rem;
  border-radius: 10%;
  width: auto;
  box-shadow: 0.5em 0.5em 0em black;
}

main p{
  background-color: gainsboro;
  color: orangered;
}

main li{
  border: thin solid black;
  list-style-type: none;
  box-shadow: 0.5em 0.5em 0em black;
  padding: 1em;
  background-color: gainsboro;
}

footer{
  border: thin solid black;
  color: orangered;
}
